.popular
  padding: 0 14px
  .container
    flex-direction: column
    max-width: 1372px
    margin: 120px auto
    @media (max-width: 1024px)
      margin: 70px 0
    h1
      font-family: Proxima Nova, sans-serif
      font-style: normal
      font-weight: bold
      font-size: 36px
      line-height: 100%
      color: #212121
      margin-bottom: 40px
      @media (max-width: 1024px)
        font-size: 30px
        margin-bottom: 30px
      @media (max-width: 768px)
        font-size: 22px
    .popular__categories
      display: grid
      grid-gap: 20px
      grid-template-areas: "one one four five" "two three four five" "two three six six"
      @media (max-width: 1024px)
        grid-gap: 10px
      @media (max-width: 768px)
        grid-gap: 5px
        grid-template-areas: 'one' 'two' 'three' 'four' 'five' 'six'
        grid-auto-rows: 100px
      .popular__category
        overflow: hidden
        border-radius: 20px
        position: relative
        @media (max-width: 1024px)
          border-radius: 10px
        @media (max-width: 768px)
          background: #F5F5F5
        &:nth-child(1)
          grid-area: one
        &:nth-child(2)
          grid-area: two
        &:nth-child(3)
          grid-area: three
        &:nth-child(4)
          grid-area: four
        &:nth-child(5)
          grid-area: five
        &:nth-child(6)
          grid-area: six
        &:hover
          .popular-big-img
            transform: scale(1.15)
          .popular-background
            opacity: 1
            visibility: visible
        .popular__text
          width: 100%
          height: 100%
          position: absolute
          top: 0
          left: 0
          z-index: 2
          padding: 40px 30px 30px 40px
          display: flex
          justify-content: center
          flex-direction: column
          @media (max-width: 1024px)
            padding: 30px 20px 20px 30px
          @media (max-width: 768px)
            padding: 0 0 0 30px
          h4
            font-family: Proxima Nova, sans-serif
            font-style: normal
            font-weight: 600
            font-size: 28px
            line-height: 100%
            color: #FFFFFF
            @media (max-width: 1024px)
              font-size: 22px
            @media (max-width: 768px)
              font-family: Proxima Nova, sans-serif
              font-style: normal
              font-weight: normal
              font-size: 18px
              line-height: 100%
              color: #212121
          .popular__arrow
            width: 46px
            height: 46px
            display: flex
            align-items: center
            justify-content: center
            background-color: #FFFFFF
            margin: auto 0 0 auto
            transition-duration: 0.3s
            border-radius: 50%
            @media (max-width: 1024px)
              width: 40px
              height: 40px
            @media (max-width: 768px)
              display: none
            &:hover
              background: #1976D2
              border-color: #1976D2
              path
                stroke: #FFFFFF
            path
              transition-duration: 0.3s
            svg
              @media (max-width: 768px)
                transform: scale(0.7)
              path
                transition-duration: 0.3s
          .popular-mobile-img
            display: none
            position: absolute
            height: 78px
            right: 18px
            transform: translateY(-50%)
            top: 50%
            width: 103px
            @media (max-width: 768px)
              display: block
            img
              width: 100%
              height: 100%
              object-fit: contain
        .popular-big-img
          width: 100%
          height: 100%
          transition-duration: 0.5s
          object-fit: cover
          @media (max-width: 768px)
            display: none
        .popular-gradient
          background: linear-gradient(145.65deg, #000000 1.24%, rgba(0, 0, 0, 0) 51.49%)
          width: 100%
          height: 100%
          position: absolute
          top: 0
          left: 0
          border-radius: 20px
          transition-duration: 0.3s
          z-index: 1
          @media (max-width: 1024px)
            border-radius: 10px
          @media (max-width: 768px)
            display: none
        .popular-background
          width: 100%
          height: 100%
          background: rgba(0,0,0,0.2)
          position: absolute
          left: 0
          top: 0
          opacity: 0
          transition-duration: 0.3s
          visibility: hidden

















